<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">DB Local JSON</a>
</nav>

<div>
    <table class="table table-bordered table-striped table-hover">
        <thead>
	      <tr>
		 <th>File</th>
		 <th>Action</th>			
	      </tr>
	 </thead>
	 <tbody>
               {{#each result}}
	       <tr>
		  <td>{{this}}</td>
		  <td>
                      <a class="btn btn-light btn-xs" href="/jsondatabase/delete">delete</a>
                      <a class="btn btn-light btn-xs" href="/jsondatabase/create">write</a>
                  </td>
      	       </tr>
               {{/each}}
	 </tbody>
     </table>
</div>

<div style="margin-top: 30px">
    <a class="btn btn-primary btn-md active" href="/jsondatabase/create">Create</a>
    <a class="btn btn-primary btn-md active" href="/jsondatabase/logout">Logout</a>
</div>
