<div class="bd-masthead mb-3" id="content">
  <div class="container px-4 px-md-3">
    <div class="row align-items-lg-center">
      <div class="col-8 mx-auto col-md-4 order-md-2 col-lg-5">
          <img src="https://l.top4top.io/p_2133mqor00.png" class="img-fluid mb-3 mb-md-0">
      </div>
      <div class="col-md-8 order-md-1 col-lg-7 text-center text-md-start">
        <h1 class="mb-3">Access from anywhere and anytime</h1>
        <p class="lead mb-4">
          JSON database online, write and read and create your data from anywhere.
        </p>

        <div class="d-flex flex-column flex-md-row">
           <a href="/jsondatabase/login" class="btn btn-primary btn-lg">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</div>
        
