<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://l.top4top.io/p_2133mqor00.png" rel="icon">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Meet Room</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body class="bg-primary">
       <div class="container mt-5">
         <div class="card mt-3">
            <div class="card-body">
              <div id="message-list" style="height: 40vh; overflow-y: auto;>
                <div class="card">
                  <div class="card-body mt-1">
                  </div>
                </div>
              </div>
              <div id="form-message" class="mt-1">
                <div class="row>
                  <div class="coll-8">
                    <input class="form-control">
                  </div>
                  <div class="coll-4">
                    <button class="btn btn-primary">Kirim</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
</html>

