<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">DB Local JSON</a>
</nav>

<div>
    <table class="table table-bordered table-striped">
        <thead>
	      <tr>
                 <th>No</th>
		 <th>File</th>
		 <th>Action</th>
		 <th>Usage</th>				
	      </tr>
	 </thead>
	 <tbody>
	       <tr>
		  <td>1</td>
		  <td>antilink.json</td>
		  <td>undefined</td>
                  <td>undefined</td>
	       </tr>
	 </tbody>
     </table>
</div>

<div style="margin-top: 30px">
    <a class="btn btn-primary btn-sm active" href="/jsondatabase/create">Create</a>
    <a class="btn btn-primary btn-sm active" href="/jsondatabase/logout">Logout</a>
</div>
